@media only screen and (max-width:912px){
    .site-title{
        margin-right: 0em;
    }
}
@media only screen and (max-width:708px), (max-width:912px){
    
    .hero{
        /* padding: 20px 15px; */
        height: fit-content;
        background-position-y: center;
    }
    .menu{
        width: fit-content;
        padding: 0px;
    }
    
    .header_body_caption{
        font-weight: bolder;
        font-size: 2em;
        text-align: center;
        line-height: 50px;
    }
    .menu{
        height: 6vh;
        top: -1px;
    }
    ul{
        display: none;
    }
    .container{
        padding: 0px;
    }
    /* about */
    #about_us{
        padding: 15px 15px;
        height: fit-content;
        background-color: rgb(230, 225, 225);
    }
    .about_h1{
        font-size: 2.5rem;
    }
    .about_body_box{
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .about_body:nth-child(1){
        width: 100%;
    }
    .about_body{
        height: 50vh;
    }
    .about_body:nth-child(2){
        display: flex;
        align-items: center;
        font-weight: bold;
        width: 100%;
        background-color: #fff;
        padding: 15px 15px;
        box-shadow: 0px 0px 5px 2px darkgray;
       /* border-radius: 7px; */
    }
    .about_body:nth-child(2){
        height: fit-content;
    }
    .writeup_about{
        font-size: 1.5em;
    }

    /* our services */
    #services{
        padding: 15px 15px;
        height: fit-content;
        width: 100%;
    }
    .services_card_box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .services_card{
        height: 45vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .service_h1{
        width: 100%;
    }
    .services_card:hover{
        height: 50vh;
    }

    /* Gallery */
    #gallery{
        padding: 15px 15px;
        height: fit-content;
    }
    .gallery_cards_box{
        display: flex;
        flex-direction: column;

    }

    /* team */
    #team{
        padding: 15px;
        width: 100%;
        height: fit-content;

    }

    .team_picture{
        width: 100%;
        height: 50vh;
    }
    .team_picture_title{
        padding: 10px;
        font-size: 0.9em;
    }
    

    /* contact */
    #contact{
        padding: 15px;
        width: 100%;
        height: fit-content;
    }
    .contact_body{
        padding: 10px;
        width: fit-content
        background-color: rgba(255, 255, 255, 0.603);
        height: fit-content;
    }
    .contact_details{
        display: flex;
        flex-direction: column;
    }
    #footer{
        padding: 8px;
    }
   

}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    .topnav{
        width: 100%;
    }
    .site-title{
        margin-right: 0em;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }